<section class="empty-cart">
    <%if(session.cart){%>
    <div class="order">
        <div class="head">
            <img src="/img/cart-black.png" alt="">
            <h1> Order Summary</h1>

        </div>
        <div class="pizza-list">
            <% for(let pizza of Object.values(session.cart.items)){%>
            <div class="order-list">
                <img src="/img/<%=pizza.item.image%>" alt="">
                <div>
                    <h1><%=pizza.item.name%></h1>
                    <span class="size"><%=pizza.item.size%></span>
                </div>
                <span class="qty"><%=pizza.qty%> Pcs</span>
                <span class="price">₹<%=pizza.item.price * pizza.qty%></span>
            </div>
            <%}%>          
        </div>
        <hr>
        <div class="billing">
            <div class="bill-detail">
                <span class="cost">Total Amount:</span>
                <span class="value">₹<%=session.cart.totalPrice%></span>
            </div>
            <%if(user){%>
            <div class="delivery" action="">
                <form action="/orders" method="POST">
                    <input name="phone" type="text" placeholder="Phone Number" autocomplete="off">
                    <input name="address" type="text" placeholder="Address" autocomplete="off">
                    <div>
                        <button type="submit">Order Now</button>
                    </div>
                </form>
            </div>
            <%}else{%>
            <div class="hidden">
                <a href="/login" class="not-login">Login to continue</a>
            </div>
            <%}%>
        </div>
    </div>
    <%}else{%>
    <div class="no-order">
        <h1>Cart Empty 🙁</h1>
        <p>You probably haven't ordered a pizza yet.
            To order a pizza go to the main page.
        </p>
        <img src="/img/empty-cart.png" alt="empty-cart">
        <a href="/">Go back</a>
    </div>
    <%}%>
</section>